---
layout: page
description: "Institut de Salut Global de Barcelona"
---

<h2 align="center">Calendari</h2><table>
 <thead>
  <tr>
   <th style="text-align:left;"> Data </th>
   <th style="text-align:left;"> Ponent </th>
   <th style="text-align:left;"> Centre </th>
   <th style="text-align:left;"> Titol </th>
   <th style="text-align:left;"> Lloc </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> Mar 30 </td>
   <td style="text-align:left;"> María Rupérez </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Health in infants born to mothers who received Meloquine or Sulphadoxine-Pyrimethamine in Pregnancy </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Mar 31 </td>
   <td style="text-align:left;"> Dra France Donnay </td>
   <td style="text-align:left;"> Independent consultant </td>
   <td style="text-align:left;"> Maternal Health in a Changing World: from Urbanization to Urban Centric Design </td>
   <td style="text-align:left;"> TBC </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Apr 06 </td>
   <td style="text-align:left;"> Silvia Moriana </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Tratar la enfermedad de Chagas: razones para impulsar tratamiento, barreras y principales recomendaciones para mejorar el acceso </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Apr 12 </td>
   <td style="text-align:left;"> Rick Steketee </td>
   <td style="text-align:left;"> PATH </td>
   <td style="text-align:left;"> Transitioning from Disease Control to Elimination – the example of malaria in southern Africa </td>
   <td style="text-align:left;"> TBC </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Apr 18 </td>
   <td style="text-align:left;"> Shevanti Nayagam </td>
   <td style="text-align:left;"> Imperial College London </td>
   <td style="text-align:left;"> TBC - Heptatis B </td>
   <td style="text-align:left;"> TBC </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Apr 27 </td>
   <td style="text-align:left;"> Mària Sanchez, Agnes Moragues, Carole Amroune, Mònica Solanes (AC2M) </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Why do you even bother me? A (funny) rationale on administrative boundaries when conducting research funded by external agencies </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> May 02 </td>
   <td style="text-align:left;"> Antoine Claessens </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> TBC - Genomic Epidemiology </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> May 11 </td>
   <td style="text-align:left;"> Daniel López-Acuña TBC </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> May 18 </td>
   <td style="text-align:left;"> Chagas - pending </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> May 25 </td>
   <td style="text-align:left;"> Clara Pons </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Two attempts to measure inequality in health: HIV in Mozambique and Maternal Health in several Sub-Saharan countries </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jun 01 </td>
   <td style="text-align:left;"> Michelle Turner </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> Environmental risk factors for cancer </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jun 08 </td>
   <td style="text-align:left;"> Judit Vall Castello </td>
   <td style="text-align:left;"> UPF </td>
   <td style="text-align:left;"> Impact of the economic crisis on child health </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jun 15 </td>
   <td style="text-align:left;"> C Chaccour </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> Ivermectin for malaria elimination recent advances and prospects </td>
   <td style="text-align:left;"> Caixa Forum Auditorium, 17:00 - 18:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jun 22 </td>
   <td style="text-align:left;"> Jaume Ordi </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Results of the CaDMIA study, and futureperspectives for cause of death research </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jun 29 </td>
   <td style="text-align:left;"> Gemma Moncunill </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Vaccine-specific cellular immune correlates induced by RTS,S/AS01E in children and infants from a phase III trial in Africa </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jul 06 </td>
   <td style="text-align:left;"> Nathan Bertelsen - TBC </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;">  </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jul 13 </td>
   <td style="text-align:left;"> Emil Letang </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Cryptococcal meningitis: a silent, neglected, but easily preventable serial killer </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Jul 20 </td>
   <td style="text-align:left;"> Alfred Cortés Closas </td>
   <td style="text-align:left;"> ISGlobal </td>
   <td style="text-align:left;"> Adaptation of malaria parasites to changes in their environment: to bet or not to bet - TBC </td>
   <td style="text-align:left;"> Aula 3, Fac Medicina, 14:00 </td>
  </tr>
</tbody>
</table>


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}